@font-face {
  font-family: "Friz_Quadrata_Bold";
  src: url(./assets/font/Friz_Quadrata_Bold.otf) format("opentype");
}
@font-face {
  font-family: "Beaufort-heavy";
  src: url(./assets/font/BeaufortforLOL-Heavy.ttf) format("opentype");
}
@font-face {
  font-family: "Beaufort-bold";
  src: url(./assets/font/BeaufortforLOL-Bold.ttf) format("opentype");
}

html, body {
  margin: 0;
  position: relative;
}

body {
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 80% 50%;
  background-image: url(./assets/background.jpg);
  margin: 0;
}

nav /*ET NAV */{
  font-family: 'Beaufort-bold', sans-serif;
  user-select: none;
  height: 52px;
  padding: 0px;
  background-color: #020e1b;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.menu /*ET ROW */{
  width: 100%;
  align-content: center;
}

.fond-invisible {
  position: absolute;
  background-color: #000;
  z-index: 2;
  width: 100%;
  min-height: 100%;
  opacity: 0.25;
  height: 100vh;
}

.list {
  position: relative;
  background: linear-gradient(to right, #010A13, #021222);
  z-index: 1;
}

label {
  width: 100%;

  border-radius: 2px;
}

li {
  color: #CDBE91;
  padding: 5px;
  border-top: 1px solid #242424;
  border-bottom: 1px solid #242424;


}
li:hover{
  border-top: 1px solid #F0E6D2;
  border-bottom: 1px solid #F0E6D2;
}
li:active {
  background-color: #0a2934;
}

.dropdown-check-list .list li input {
  margin-right: 5px; /* Ajoutez de la marge à droite du checkbox */
}



.checkboxIsChecked label {
  color: #F0E6D2;
}

.checkboxIsNotChecked label {
  color: #CDBE91;
}

.checkboxIsChecked {
  background-color: #242424;
  /*background-color: #0d1b2a;*/
  /*border-bottom: 1px solid #CDBE91;*/
  border-bottom: 1px solid #0d1b2a;
}

.checkboxIsNotChecked {
  background-color: #020e1b;

  border-bottom: 1px solid #242424;
}


.anchor {
  color: #F0E6D2;
  width: 100%;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid #F0E6D2;
  border-top: 2px solid #F0E6D2;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.list {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}

.dropdown-check-list ul.list li {
  list-style: none;
}

.dropdown-check-list.visible .anchor {
  color: rgb(121, 106, 36);
}

.dropdown-check-list.visible .list {
  display: block;
}


#carteContainer {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5px;
}

img {
  box-shadow: inset 5px 5px 5px 0px #000;
  border-radius: 5px;
  width: 250px;
  height: 282px !important;
  padding: 0px;
  margin: 0px;
  z-index: 0;
  height: 100%;
  transition: filter 500ms ease-out;
  user-select: none;
}

.in-front {
  z-index: 2 !important;
  position: relative;
}

.flip-card {
  text-align: center;
  background-color: transparent;
  margin-top: 10px;
  height: 286px;
  padding: 0px;
  width: 254px;
  perspective: 1000px;
  cursor: pointer;
  transition: all 200ms ease-in;
  -webkit-user-drag: none;
  user-select: none;
}

.flip-card:active {
  scale: 1.1;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 500ms;
  box-shadow: 0px 9px 10px 0px #000;
  border-radius: 5px;
  border: 2px #1e2328 solid;
  cursor: pointer;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  transition: transform 500ms;
  border: 2px #efe6d1 solid;
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  background-color: #020e1b;
  color: white;
  transform: rotateY(180deg);
  top: 0px;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

p{
  font-family: 'Beaufort-bold', sans-serif;
  color: #b1a48c;
  vertical-align: super;
  font-size: 19px;
  margin: 0px !important; 
  padding-left: 6px;
  text-align: left;
  user-select: none;
}

h1 {
  font-family: 'Beaufort-heavy', sans-serif;
  color: #f0e6d2 !important;
  position: absolute;
  top: 75%;
  left: 50%;
  translate: -50% -50%;
  font-size: 25px !important;
  user-select: none;

}
.bouton {
  background-color: #1e2328;
  color: #fff;
  font-size: 20px;
  bottom: 40px;
  position: fixed;
  text-align: center;
  align-items: center;
  display: flex;
  box-shadow: 2px 5px 10px 0px #000;
  border: 2px #01698c solid;
  padding: 5px 20px;
  border-radius: 10px;
  font-family: "Beaufort-heavy";
}

#remain {
  left: 50%;
  translate: -50px 0%;
}

#btn {
  left: 20px;
}

#btn:hover {
  background-color: #1e2328;
  color: #fff;
  border: 2px #08bab6 solid;
}

#undo {
  right: 20px;
}

#undo:hover {
  background-color: #1e2328;
  color: #fff;
  border: 2px #08bab6 solid;
}

.none {
  display: none;
}
.displayNone {
  display: none;
}

.false {
  opacity: 0.8;
  filter:grayscale(1);
}

.selection {
  position: fixed;
  top: 50%;
  left: 0px;
  transform: translate(-272px, -50%);
  height: 300px;
  width: 272px;
  background-color: #020e1b;
  border: 1px #F0E6D2 solid;
  border-radius: 5px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.arrow {
  width: 50px;
  height: 40px;
  border: none;
}

.arrow-button {
  background-color: transparent;
  border: none;
}

.pick {
  margin: 0px;
  padding: 0px;
  transform: translateX(22px);
}

.cube {
  background-color: #020e1b;
  border: 1px #F0E6D2 solid;
  transform: translateX(30px);
  width: 45px;
  border-left: none;
  border-radius: 0px 5px 5px 0px;
  height: 70px;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}