@font-face {
  font-family: "Friz_Quadrata_Bold";
  src: url(./assets/font/Friz_Quadrata_Bold.otf) format("opentype");
}
@font-face {
  font-family: "Beaufort";
  src: url(./assets/font/BeaufortforLOL-HeavyItalic.ttf) format("opentype");
}
@font-face {
  font-family: "Beaufort-bold";
  src: url(./assets/font/BeaufortforLOL-Bold.ttf) format("opentype");
}

.container-fluid{
  font-family: Beaufort-bold;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 80% 50%;
  background-image: url(./assets/background.jpg);
}

nav {
  background-color: #010A13;
  height: 50px;
}
.list {
  position: relative;
  background-color: #010A13;
  z-index: 1;
}

li {
  color: #CDBE91;
  padding: 5px;
}

.anchor {
  color: #F0E6D2;
  width: 100%;
  padding: 0px;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-check-list {
  display: inline-block;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid #F0E6D2;
  border-top: 2px solid #F0E6D2;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.list {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}

.dropdown-check-list ul.list li {
  list-style: none;
}

.dropdown-check-list.visible .anchor {
  color: rgb(121, 106, 36);
}

.dropdown-check-list.visible .list {
  display: block;
}


#carteContainer {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5px;
}

.carte {
  text-align: center;
  margin-top: 10px;
  padding: 0px;
  border: 2px #1e2328 solid;
  box-shadow: 0px 9px 10px 0px #000;
  border-radius: 5px;

  transition: 100ms;
}

img {
  box-shadow: inset 5px 5px 5px 0px #000;
  border-radius: 5px;
  width: 200px;
  z-index: 0;
}

.carte:hover {
  box-shadow: 0px 9px 10px 2px #000;
  border: 2px #efe6d1 solid;
  transform: scale(0.95);
  transition: 100ms;
}

#btn {
  background-color: #1e2328;
  position: fixed;
  bottom: 50px;
  left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding: 5px 20px;
  border-radius: 10px;
  border: 2px #01698c solid;
  box-shadow: 2px 5px 10px 0px #000;
  text-align: center;
  align-items: center;
  display: flex;
}

#btn:hover {
  background-color: #1e2328;
  color: #fff;
  border: 2px #08bab6 solid;
}

#undo {
  background-color: #1e2328;
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding: 5px 20px;
  border-radius: 10px;
  border: 2px #01698c solid;
  box-shadow: 2px 5px 10px 0px #000;
  text-align: center;
  align-items: center;
  display: flex;
}

#undo:hover {
  background-color: #1e2328;
  color: #fff;
  border: 2px #08bab6 solid;
}

.invisible {
  display: none;
}
